{% extends 'base.html' %}
{% load static %}

{% load tailwind_filters %}


{% block content %}



<div x-data="{ mobileSidebarOpen: false }">
    <!-- Page Container -->
    <div
      id="page-container"
      class="mx-auto flex min-h-screen w-full min-w-[320px] flex-col bg-white lg:ps-64"
    >
      <!-- Page Sidebar -->
      <nav
        id="page-sidebar"
        class="fixed start-0 top-0 bottom-0 z-50 flex h-full w-80 flex-col overflow-auto bg-slate-100 transition-transform duration-500 ease-out lg:w-64 lg:ltr:translate-x-0 lg:rtl:translate-x-0"
        x-bind:class="{
      'ltr:-translate-x-full rtl:translate-x-full': !mobileSidebarOpen,
      'translate-x-0': mobileSidebarOpen,
    }"
        aria-label="Main Sidebar Navigation"
        x-cloak
      >
        <!-- Sidebar Header -->
        <div
          class="flex h-20 w-full flex-none items-center justify-between px-8"
        >
          <!-- Brand -->
          <a
            href="javascript:void(0)"
            class="inline-flex items-center gap-2 text-lg font-bold tracking-wide text-slate-800 transition hover:opacity-75 active:opacity-100"
          >
            <img class="h-8" src="{% static 'educamy.svg' %}" alt="logo-app">
          </a>
          <!-- END Brand -->
  
          <!-- Close Sidebar on Mobile -->
          <div class="lg:hidden">
            <button
              id="btnSideBar"
              type="button"
              class="flex size-10 items-center justify-center text-slate-400 hover:text-slate-600 active:text-slate-400"
              x-on:click="mobileSidebarOpen = false"
            >
              <svg
                class="hi-solid hi-x -mx-1 inline-block size-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
          <!-- END Close Sidebar on Mobile -->
        </div>
        <!-- END Sidebar Header -->
  
        <!-- Main Navigation -->
        <div class="w-full grow space-y-3 p-4">
          <a
            href="{% url 'educamy:dashboard' %}"
            class="flex items-center gap-3 rounded-lg bg-white px-4 py-2.5 font-semibold text-purple-900 shadow-xs shadow-slate-300/50"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layout-dashboard-icon lucide-layout-dashboard"><rect width="7" height="9" x="3" y="3" rx="1"/><rect width="7" height="5" x="14" y="3" rx="1"/><rect width="7" height="9" x="14" y="12" rx="1"/><rect width="7" height="5" x="3" y="16" rx="1"/></svg>
            <span>Dashboard</span>
          </a>


          <a
            href="{% url 'educamy:itineraries' %}"
            class="flex items-center gap-3 rounded-lg px-4 py-2.5 font-semibold text-purple-900 hover:bg-white hover:shadow-xs hover:shadow-slate-300/50 active:bg-white/75 active:text-slate-800 active:shadow-slate-300/10"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-notebook-text-icon lucide-notebook-text"><path d="M2 6h4"/><path d="M2 10h4"/><path d="M2 14h4"/><path d="M2 18h4"/><rect width="16" height="20" x="4" y="2" rx="2"/><path d="M9.5 8h5"/><path d="M9.5 12H16"/><path d="M9.5 16H14"/></svg>
            <span>Itinerarios</span>
          </a>



          <a
            href="#"
            class="flex items-center gap-3 rounded-lg px-4 py-2.5 font-semibold text-purple-900 hover:bg-white hover:shadow-xs hover:shadow-slate-300/50 active:bg-white/75 active:text-slate-800 active:shadow-slate-300/10"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-icon lucide-book"><path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20"/></svg>
            <span>Asignaturas</span>
          </a>


          {% comment %} <a
            href="#"
            class="flex items-center gap-3 rounded-lg px-4 py-2.5 font-semibold text-purple-900 hover:bg-white hover:shadow-xs hover:shadow-slate-300/50 active:bg-white/75 active:text-slate-800 active:shadow-slate-300/10"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-round-icon lucide-users-round"><path d="M18 21a8 8 0 0 0-16 0"/><circle cx="10" cy="8" r="5"/><path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3"/></svg>
            <span>Estudiantes</span>
          </a> {% endcomment %}
        </div>
        <!-- END Main Navigation -->
  
        <!-- Sub Navigation -->
        <div class="w-full flex-none space-y-3 p-4">
          {% comment %} <a
            href="javascript:void(0)"
            class="flex items-center gap-3 rounded-lg px-4 py-2.5 font-semibold text-slate-600 hover:bg-white hover:shadow-xs hover:shadow-slate-300/50 active:bg-white/75 active:text-slate-800 active:shadow-slate-300/10"
          >
            <svg
              class="bi bi-gear-fill inline-block size-4 text-slate-400"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"
              />
            </svg>
            <span>Settings</span>
          </a> {% endcomment %}
          <a
            href="{% url 'educamy:logout' %}"
            class="flex items-center gap-3 rounded-lg px-4 py-2.5 font-semibold text-purple-900 hover:bg-white hover:shadow-xs hover:shadow-slate-300/50 active:bg-white/75 active:text-slate-800 active:shadow-slate-300/10"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-door-closed-icon lucide-door-closed"><path d="M10 12h.01"/><path d="M18 20V6a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v14"/><path d="M2 20h20"/></svg>
            <span>Cerrar Sesión</span>
          </a>
        </div>
        <!-- END Sub Navigation -->
      </nav>
      <!-- Page Sidebar -->
  
      <!-- Page Header -->
      <header
        id="page-header"
        class="fixed start-0 end-0 top-0 z-30 flex h-20 flex-none items-center bg-white shadow-xs lg:hidden"
      >
        <div
          class="container mx-auto flex justify-between px-4 lg:px-8 xl:max-w-7xl"
        >
          <!-- Left Section -->
          <div class="flex items-center gap-2">
            <!-- Toggle Sidebar on Mobile -->
            <button
              type="button"
              class="inline-flex items-center justify-center gap-2 rounded-sm border border-slate-200 bg-white px-2 py-1.5 leading-6 font-semibold text-slate-800 shadow-xs hover:border-slate-300 hover:bg-slate-100 hover:text-slate-800 hover:shadow-sm focus:ring-3 focus:ring-slate-500/25 focus:outline-hidden active:border-white active:bg-white active:shadow-none"
              x-on:click="mobileSidebarOpen = true"
            >
              <svg
                class="hi-solid hi-menu-alt-1 inline-block size-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
            <!-- END Toggle Sidebar on Mobile -->
          </div>
          <!-- END Left Section -->
  
          <!-- Middle Section -->
          <div class="flex items-center gap-2">
            <!-- Brand -->
            <a
              href="javascript:void(0)"
              class="inline-flex items-center gap-2 text-lg font-bold tracking-wide text-slate-800 transition hover:opacity-75 active:opacity-100"
            >
              <img class="h-8" src="{% static 'educamy.svg' %}" alt="">
            </a>
            <!-- END Brand -->
          </div>
          <!-- END Middle Section -->
  
          <!-- Right Section -->
          <div class="flex items-center gap-2">
            <!-- Settings -->
            <a
              href="javascript:void(0)"
              class="inline-flex items-center justify-center gap-2 rounded-sm border border-slate-200 bg-white px-2 py-1.5 leading-6 font-semibold text-slate-800 shadow-xs hover:border-slate-300 hover:bg-slate-100 hover:text-slate-800 hover:shadow-sm focus:ring-3 focus:ring-slate-500/25 focus:outline-hidden active:border-white active:bg-white active:shadow-none"
            >
              <svg
                class="hi-solid hi-user-circle inline-block size-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
            <!-- END Toggle Sidebar on Mobile -->
          </div>
          <!-- END Right Section -->
        </div>
      </header>
      <!-- END Page Header -->
  
      <!-- Page Content -->
      <main
        id="page-content"
        class="flex max-w-full flex-auto flex-col pt-20 lg:pt-0"
      >
        <!-- Page Section -->
        {% comment %} <div
        class="container mx-auto space-y-10 px-4 py-8 lg:space-y-16 lg:px-8 lg:py-12 xl:max-w-7xl"
      > {% endcomment %}
        <div
          class="container mx-auto px-4 py-8 space-y-4 lg:px-8 lg:py-12 xl:max-w-7xl"
        >

          {% block dashboardContent %}
          
          
          {% endblock dashboardContent %}

        </div>
        <!-- END Page Section -->
      </main>
      <!-- END Page Content -->
  
      <!-- Page Footer -->
      <footer
        id="page-footer"
        class="flex grow-0 items-center border-t border-slate-100"
      >
        <div
          class="container mx-auto flex flex-col gap-2 px-4 py-6 text-center text-xs font-medium text-slate-600 md:flex-row md:justify-between md:gap-0 md:text-start lg:px-8 xl:max-w-7xl"
        >
          <div class="flex items-center gap-2">
            <p>
              © <span class="font-semibold">
                Derechos Reservados
              </span>
            </p>
            <img class="w-10" src="{% static 'unemi.png' %}" alt="">
        </div>
          <div class="inline-flex items-center justify-center">
            <span class="mr-2">Creadores:</span
            >
            <span
              >
              <a
                class="font-medium text-purple-600 transition hover:text-blue-700"
                href="#"
                target="_blank"
                >Dave Clavijo - Carolina Moran</a
              ></span
            >
          </div>
        </div>
      </footer>
      <!-- END Page Footer -->
    </div>
    <!-- END Page Container -->
  </div>



{% endblock content %}




