{% extends 'base.html' %}



{% load static %}
{% load tailwind_filters %}



{% block content %}
  <section class="w-full mx-auto grid grid-cols-1 h-screen overflow-hidden relative bg-gradient-to-br from-purple-50 via-purple-100 to-purple-700 ">
    <div class="flex flex-col items-center justify-center z-10">

        <img class="relative w-full h-10 mb-10" src="{% static 'educamy.svg' %}" alt="logo">
   
      <h2 class="mb-5 text-black font-bold text-2xl tracking-tighter">Inicia Sesión</h2>
      <p class="text-black text-sm text-center">
        Sistema de generación de Itinerarios para 
        <hr/>
        <span class="font-bold">
          Docentes
        </span>
      
      </p>

      <form class="min-w-[280px] mt-4 lg:min-w-[400px] z-20 " method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form |crispy }}
        <button class="bg-purple-700 mt-4 border-2 border-purple-700 text-white hover:bg-purple-900 hover:text-white text-base hover:border-purple-900 rounded-lg py-2.5 px-5 transition-colors w-full text-md">Entrar</button>
      </form>
      {% if messages %}
        {% for message in messages %}
          <div class="bg-red-100 text-red-800 px-4 py-2 rounded mb-4">
              {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      <div class="z-20">
        <p class="text-center mt-3 text-[14px]">
          No tienes una cuenta aun?
          <a href="{% url 'educamy:register' %}" class="text-purple-700 hover:underline">Crea una Ahora!</a>
        </p>
      </div>
    </div>
  </section>
{% endblock %}