{% extends "layout.html" %}
{% load static %}
{% load tailwind_filters %}

{% block dashboardContent %}
    <div class="p-4">
    <h1 class="font-bold text-2xl">Perfil de {{ user.username }}</h1>

    <div class="mt-4 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
      {% comment %}Cajas Resumen Dashboard{% endcomment %}
        <div class="border-1 lg:col-span-1 col-span-full border-gray-300 rounded-lg p-4 bg-white shadow-md flex flex-col items-start justify-center w-full">
          <div class="flex justify-between w-full">
              <h3 class="text-sm font-semibold">Total itinerarios</h3>
              <svg class="text-purple-900" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-file-spreadsheet-icon lucide-file-spreadsheet">
                  <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
                  <path d="M14 2v4a2 2 0 0 0 2 2h4" />
                  <path d="M8 13h2" />
                  <path d="M14 13h2" />
                  <path d="M8 17h2" />
                  <path d="M14 17h2" />
              </svg>
          </div>
          <h4 class="font-bold text-2xl">
              {{ itinerariesCount }}
              0
          </h4>

          <p class="text-xs opacity-75">Número de itinearios generados</p>
        </div>
    {% comment %} Asignaturas {% endcomment %}
    <div class="border-1 lg:col-span-1 col-span-full border-gray-300 rounded-lg p-4 bg-white shadow-md flex flex-col items-start justify-center w-full">
        <div class="flex justify-between w-full">
            <h3 class="text-sm font-semibold">Diapositivas</h3>
            <svg class="text-orange-800" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-book-open-icon lucide-book-open">
                <path d="M12 7v14" />
                <path
                    d="M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z" />
            </svg>
        </div>
        <h4 class="font-bold text-2xl">
            0
        </h4>
        <p class="text-xs opacity-75">Número de diapostivas generadas</p>
    </div>
      

    {% comment %}Profile{% endcomment %}
    

    <div class="mt-8 col-span-3">
      <h2 class="font-bold tex-bold text-2xl mb-4">Cuenta</h2>
      <div class="flex w-full items-center rounded justify-center h-[200px]">
        {% if user_photo %}
          <img class="rounded-full object-contain h-[250px] w-[250px]" src="{{ user_photo }}" alt="user-profile" />
        {% else %}
          <img class="rounded-md object-contain w-[200px] h-[200px]" width="250" height="250" src="{% static 'img/avatar.jpg' %}" alt="Foto de perfil por defecto" />
        {% endif %}
      </div>
      <div class="max-w-[800px] flex justify-center items-center mx-auto">
        <form class="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="w-full bg-purple-900 text-white p-4 rounded-md mt-4">Guardar</button>
        </form>
      </div>
    </div>
  </div>


{% endblock dashboardContent %}



