{% extends 'layout.html' %}
{% load tailwind_filters %}



{% block dashboardContent %}
    <section>
        <h1 class="text-3xl font-bold">Materias</h1>
        <h4 clasS="text-sm opacity-75">Gestiona tus materias académicas</h4>

        <div class="flex gap-2 mt-4">
            <button id="schoolSubjectListBtn" class="text-xs px-4 py-2 border-1 border-purple-300 rounded-md cursor-pointer">
                Listado de Materias
            </button>
            <button id="createSchoolSubjectBtn" class="text-xs px-4 py-2 border-1 border-purple-300 rounded-md cursor-pointer">
                Crear Materia
            </button>
        </div>
        <div id="schoolSubjectsDiv" class="mt-4 grid lg:grid-cols-3 grid-cols-1">
            {% for subjects in schoolSubjects  %}
            
            <div class="border-1 rounded-md border-purple-100 p-4 lg:w-[380px] w-full space-y-2">
                <div>
                    <h5 class="font-bold text-md">{{subjects.name}}</h5>

                </div>
                <h6 class="opacity-75 text-xs">{{subjects.created_at}}</h6>
                <p class="text-xs">{{subjects.description}}</p>

                <div class="flex gap-4 mt-2 w-full justify-end">
                    <a class="text-sm rounded-md bg-orange-500 text-white py-1 px-4" href="{% url 'educamy:edit_school_subject' subjects.pk %}">Editar</a>
                    <form method="post" action="{% url 'educamy:delete_school_subject' subjects.pk %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="text-sm bg-red-700 text-white cursor-pointer py-1 px-3 rounded">Eliminar</button>
                    </form>
                </div>
            </div>
            {% endfor %}
           

        </div>

        <div id="createSubjectDiv" class="mt-4 hidden">
            <h2 class="font-bold">Crear Materia</h2>
            <h5 class="opacity-75 text-sm">Añade una nueva materia a tu catálogo académico</h5>

            <div class="mt-4">
                <form method="POST" class="w-full">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <div class="w-full flex justify-end mt-4">
                        <button class="bg-purple-700 text-white py-1 px-4 rounded-md" type="submit">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script>
        const schoolSubjectListBtn = document.getElementById('schoolSubjectListBtn');
        const createSchoolSubjectBtn = document.getElementById('createSchoolSubjectBtn');


        schoolSubjectListBtn.addEventListener('click', () => {
            document.getElementById('schoolSubjectsDiv').classList.remove('hidden');
            document.getElementById('createSubjectDiv').classList.add('hidden');
        });

        createSchoolSubjectBtn.addEventListener('click', () => {
            document.getElementById('schoolSubjectsDiv').classList.add('hidden');
            document.getElementById('createSubjectDiv').classList.remove('hidden');
        });


    </script>

{% endblock dashboardContent %}


    

